
/*cores e dimenções da DIV NAV */
nav {
    background-color: rgb(225,110,14);
    width: 250px;
    height: 100vh;
    font-weight: 700;
}

/*cores e dimenções da imagem da NAV */
img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-repeat:no-repeat;
    border: 8px solid rgb(225,110,14);
    box-shadow: 1px 1px 10px 1px;
}

/*plano de fundo, largura e altura da div main */
main {
    background-color:white;
    width: 100%;
    height: 100%;
}

/*definições dos botões "sobre","conhecimentos","objetivo" */
.btn1 {
    background-color: Transparent;
    font-weight: 600;
    font-size: 50px;
    color: #f8fafc;
    text-decoration: none;
    margin-bottom: 5px;
}

/*cor ao selecionar botões "sobre","conhecimentos","objetivo" */
.btn1:hover{
    color: rgb(110, 3, 3);
}

.active {
    color: rgb(110, 3, 3);
}

/*tamanho fonte e da margem do card */
main div #nome {
    margin-top: 150px;
    font-size: 115px;
}

/*espessura da fonte do card (rua,cidade,e-mail...) */
.dadosPessoais {
    font-weight: 700;
}

/*espessura,tamanho,margem e alinhamento do card (Formação:) */
#descricao {
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 50px;
    text-align:justify;
}

/*espessura,tamanho da fonte (Objetivo:) */
#objetivo {
    font-weight: 400;
    font-size: 40px;
}
/*alinhamento do texto justifcado (Conhecimentos:) */
.ms-5{
    text-align:justify;
}

/*Margem Sup. do card (Sobre/Conhecimentos/Objetivo) */
.m-top {
    margin-top: 50px;
}
/*Hover das redes sociais */
#facebook:hover, #twitter:hover, #linkedin:hover, #github:hover {
    color: rgb(94, 90, 90);
}

/*Cor,tamanho da fonte,e preenchimento (Redes Sociais) */
#facebook, #twitter, #linkedin, #github {
    color: rgb(225,110,14);
    font-size: 37px;
    padding-left: 25px;
}

/*Cor email(udanter@gmail.com) */
.c-black-opac {
    color: rgb(225,110,14);
}

/*espessura e tamanho do rodadpé */
footer {
    font-weight: 300;
    font-size: 20px;
}
